# dependencies
/node_modules

# build
/dist

# misc
.DS_Store
*.pem
.worktrees/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*.local
.env

# typescript
*.tsbuildinfo

# vite
vite.config.ts.timestamp-*

# Large video files
public/videos/*.mp4
!public/videos/typing-machine.mp4
!public/videos/case-2-gif.mp4
!public/videos/case-1-approval.mp4
!public/videos/case-1-implementation.mp4
